a {
	color: #471823;
}
a:hover {
	color: #000000;
}
header {
	background-color: #471823;
}
.site-menu {
	background-color: #4e4242;
}
.site-menu nav ul .active a, .site-menu nav ul .active a:hover, .site-menu nav ul li a:hover {
	color: #fdfdfd;
	background-color: #390c16;
}
.home-slider.bx-wrapper .bx-name, .home-slider.bx-wrapper .bx-caption {
	color: #471823;
}
.home-slider.bx-wrapper .bx-link {
	background-color: #400d18;
	border-color: #400d18;
}
.home-slider.bx-wrapper .bx-link:hover {
	background-color: #4e4242;
	border-color: #4e4242;
}
.home-title, .itexmodal-container .itexmodal-title {
	color: #471823;
}
.primary-block .home-primary-item:hover .full-content {
	background-color: #471823;
}
.all-news a, .reviews-all a {
	background-color: #471823;
	border-color: #471823;
}
.all-news a:hover, .reviews-all a:hover {
	background-color: #4e4242;
	border-color: #471823;
}
.home-reviews-block .bx-controls-direction .bx-prev:hover:before, .home-reviews-block .bx-controls-direction .bx-next:hover:before {
	color: #471823;
}
.home-reviews-block .bx-wrapper .bx-viewport ul li .reviews-content .reviews-author, .item-review .item-review-author, .item-review .item-review-admin-name {
	color: #471823;
}
.home-content {
	background-color: #ffffff;
}
.title, .other-news .other-news-header, h1, h2, h3, h4 {
	color: #2a2a2a;
}
.catalog-item .catalog-item-info > a, .news-item .catalog-item-info > a, .catalog-item .col-sm-9 > a, .news-item .col-sm-9 > a, .gallery-item .gallery-anons .gallery-name {
	color: #471823;
}
.gallery-row.gallery-item-row .gallery-item .gallery-anons .gallery-link, .gallery-row.gallery-item-row .gallery-item .gallery-anons .gallery-photo-name .glyphicon-search {
	color: #d8aeb8;
	border-color: #d8aeb8;
}
.list-menu li a {
	background-color: #4e4242;
	border-color: #4e4242;
}
.list-menu a:hover, .list-menu .active > a {
	background-color: #471823;
}
.mess button {
	background-color: #471823;
}
.mess button:hover {
	background-color: #494949;
	border-color: #494949;
}
.breadcrumb li a:hover, .breadcrumb > li + li::before {
	color: #471823;
}
.breadcrumb > .active {
	color: #1e1d1d;
}
.to-back-link {
	color: #471823;
}
.to-back-link:hover {
	color: #4e4242;
}
.navN a:hover {
	color: #3e3e3e;
}
.navN .active a {
	background-color: #471823;
}
footer #up {
	background-color: #471823;
}
footer {
	background-color: #4e4242;
}
