@media (max-width: 579px) {
    .fixedBody, .fixedBody body {
        touch-action: none;
        -ms-content-zooming: none;
        position: fixed;
    }
}

.itexmodal-container {
    background: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 25px -5px black;;
    -moz-box-shadow: 0 0 25px -5px black;
    box-shadow: 0 0 25px -5px black;
    border: none;
    padding: 0;
    width: auto;
}

.itexmodal-container .itexmodal-title {
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    padding: 5px 28px 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 11pt;
    color: #333333;
    font-weight: bolder;
    border: none;
}

.itexmodal-container .itexmodal-title .ui-dialog-title {
    padding: 0;
    margin: 0;
    color: #333333;
}

.ui-dialog.itexmodal-container {
    overflow: visible;
    max-height: calc(100% - 30px) !important;
}

.ui-dialog.itexmodal-container.solution-window-overflow-content {
    overflow: visible;
}

.ui-dialog.itexmodal-container .itexmodal-content {
    overflow: initial;
    height: auto !important;
    padding: 0;
}

.itexmodal-container .itexmodal-padding-content, .ui-dialog.itexmodal-container .itexmodal-padding-content {
    padding: 10px;
}

.ui-dialog.itexmodal-container .itexmodal-content .solution-window-scroll-content {
    max-height: inherit;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.ui-dialog .ui-dialog-titlebar-buttonpane a {
    filter: alpha(opacity=25);
    -khtml-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0.25;
    border: none;
    padding: 1px;
    margin-right: 5px;
}

.ui-dialog .ui-dialog-titlebar-buttonpane a:hover {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    border: none;
    padding: 1px;
    background: #FFFFFF;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: #FFFFFF;
}

.ui-dialog-titlebar-refresh {
    padding: 2px 4px !important;
}

#dialog-extend-fixed-container .ui-dialog-titlebar-refresh {
    display: none !important;
}

.ui-dialog .select2-offscreen, .ui-dialog .select2-offscreen:focus {
    height: 1px;
}

.solution-window-inner-scroll-content {
    overflow-y: auto;
}

.ui-scrollable-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.ui-scrollable-wrapper .ui-dialog.itexmodal-container {
    max-height: none !important;
    margin-bottom: 15px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 1000;
}

.ui-dialog-titlebar-refresh {
    display: none;
}

.less-admin {
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: #aaa;
    border: 1px solid #EEE;
    z-index: 100501;
    box-shadow: 1px 1px 1px #999;
    border-radius: 3px;
}

.less-admin a {
    padding: 5px;
    color: #333;
    display: block;
    text-decoration: none;
}

.less-admin a:hover {
    color: #111;
}
.less-admin:hover {
    background-color: #eee;
}

.notifyjs-corner {max-width: 100%;}
.notifyjs-corner .notifyjs-wrapper .notifyjs-bootstrap-base {white-space: normal;}
