@font-face {
  font-family: 'FontAwesome';
  src: url("");
  src: url("fontawesome-webfont.eot") format('embedded-opentype'), url("fontawesome-webfont.woff2") format('woff2'), url("fontawesome-webfont.woff") format('woff'), url("fontawesome-webfont.ttf") format('truetype'), url("fontawesome-webfont.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #fff;
  color: #434343;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 320px;
  padding: 0;
  text-align: center;
}
header,
footer,
body {
  font-family: 'Open Sans', Arial;
  font-size: 14px;
  line-height: 1.5;
}
html,
body {
  height: 100%;
}
div,
dl,
dt,
dd,
ol,
ul,
li,
form,
td,
th,
p {
  margin: 0;
  padding: 0;
}
table,
th,
td {
  font-size: 100%;
}
table,
img {
  border: 0;
}
img {
  border: none;
}
table {
  border-collapse: collapse;
}
input,
select,
option,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
p {
  padding: 0 0 10px;
}
a {
  color: #ea3d7e;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #ea3d7e;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  color: #f06a9d;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 24px;
  padding: 10px 0;
}
h2 {
  font-size: 20px;
  padding: 10px 0;
}
h3 {
  font-size: 16px;
  padding: 10px 0;
}
h4 {
  font-size: 13px;
  font-weight: bold;
  padding: 10px 0;
}
ol,
ul {
  padding: 0 0 10px 20px;
}
/*mixes*/
.line {
  content: '';
  background: #00d2b5;
  bottom: 0;
  height: 3px;
  left: 0;
  margin-left: 0;
  position: absolute;
  width: 220px;
}
.name_mix {
  font-size: 16px;
  margin: 0 0 17px;
  overflow: hidden;
  line-height: 1;
  padding: 0 0 21px;
  position: relative;
}
.name_mix a {
  color: #333;
  text-decoration: none;
}
.name_mix a:hover {
  color: #e67817;
}
/*//mixes*/
.main-wrapper {
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  text-align: left;
}
.main-wrapper div > img,
.main-wrapper p img {
  max-width: 100%;
  height: auto;
}
.main-wrapper td img {
  max-width: 500px;
}
.container {
  margin: 0 auto;
  position: relative;
  min-width: 280px;
  max-width: 970px;
  width: 100%;
}
/*header*/
header {
  background: #000;
  padding: 0;
}
header .container > .row > div {
  float: none;
  display: inline-block;
  padding: 7px 15px 10px;
  vertical-align: middle;
}
.header-line {
  display: none;
}
.header-center-side {
  padding-bottom: 15px !important;
  text-align: center;
}
.top-line-text {
  display: inline-block;
  color: #535353;
  font-size: 16px;
  ext-align: center;
}
.top-line-text p {
  padding: 0;
}
.top-line-text span {
  color: #a0a0a0;
  font-size: 12px;
}
.site-menu {
  background: #959595;
  z-index: 500;
  position: relative;
  text-align: left;
}
.site-menu nav ul {
  list-style: none;
  padding: 0;
}
.site-menu nav ul li {
  position: relative;
  padding: 0 1px 0 0;
  display: inline-block;
  text-align: center;
}
.site-menu nav ul li a {
  color: #fff;
  font-family: 'Open Sans';
  display: block;
  font-size: 14px;
  padding: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.site-menu nav ul li a:hover {
  background: #f06a9d;
  color: #fff;
}
.site-menu nav ul li ul {
  background: #fff;
  border: 1px solid #bdbdbd;
  border-top: 1px solid #41829f;
  display: none;
  left: -1px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 41px;
  width: 200px;
}
.site-menu nav ul li ul li {
  display: block;
  line-height: 1;
  border-top: 1px solid #bdbdbd;
}
.site-menu nav ul li ul li a {
  color: #bdbdbd;
  font-size: 14px;
  padding: 9px 10px;
  text-transform: none;
}
.site-menu nav ul li ul li a:hover {
  background: none;
  color: #bdbdbd;
  text-decoration: underline;
}
.site-menu nav ul li ul li:first-child {
  border-top: none;
}
.site-menu nav ul li:hover ul {
  display: block;
}
.site-menu nav ul li li:before {
  display: none;
}
.site-menu nav ul .active a,
.site-menu nav ul .active a:hover {
  background: #f06a9d;
  color: #fff;
  font-weight: bold;
}
.logo-image .logo-slogan {
  color: #ff0198;
  font-family: 'Georgia';
  font-size: 14px;
  font-style: italic;
  line-height: 1.2;
}
.logo-image img {
  max-width: 100%;
  height: auto;
}
.header-right-side {
  font-size: 14px;
  text-align: right;
}
.header-right-side a {
  color: #fff;
  display: inline-block;
  margin-bottom: 4px;
  margin-left: 25px;
  padding: 0 0 0 25px;
  position: relative;
  text-decoration: none;
}
.header-right-side a:hover {
  color: #fff;
  text-decoration: underline;
}
.header-right-side .to-form-link:before {
  content: "\f073";
  font-family: 'FontAwesome';
  left: 0;
  top: 0;
  position: absolute;
}
.header-right-side .callback-link:before {
  content: "\e182";
  font-family: 'Glyphicons Halflings';
  left: 0;
  top: 0;
  position: absolute;
}
.logo-slogan {
  color: #ff0198;
  font-family: Georgia;
  font-size: 18px;
  font-style: italic;
  line-height: 1.2;
}
.company-phone {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  color: #fff;
}
.company-phone p {
  padding: 3px 0;
}
/*//header*/
/*slider*/
.home-slider.bx-wrapper {
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 300;
}
.home-slider.bx-wrapper .bx-wrapper {
  margin: 0;
}
.home-slider.bx-wrapper ul {
  padding: 0;
  width: 100% !important;
}
.home-slider.bx-wrapper li {
  right: auto !important;
  width: 100%;
  min-width: 100%;
}
.home-slider.bx-wrapper img {
  max-width: 100%;
  height: auto;
}
.home-slider.bx-wrapper .slider-item {
  display: block;
  height: 400px;
  width: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.home-slider.bx-wrapper .bx-viewport {
  background: none;
  border: none;
  height: 400px !important;
  box-shadow: none;
  left: 0;
}
.home-slider.bx-wrapper .bx-controls {
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  width: 100%;
}
.home-slider.bx-wrapper .bx-controls .bx-pager {
  bottom: 23px;
  left: 0;
  right: 0;
  text-align: center;
  padding-left: 60px;
}
.home-slider.bx-wrapper .bx-controls .bx-pager .bx-pager-link {
  background: none;
  border: 2px solid #fff;
  height: 14px;
  margin: 0 6px;
  width: 14px;
  border-radius: 14px;
  position: relative;
}
.home-slider.bx-wrapper .bx-controls .bx-pager .bx-pager-link:hover,
.home-slider.bx-wrapper .bx-controls .bx-pager .bx-pager-link.active {
  background: none;
}
.home-slider.bx-wrapper .bx-controls .bx-pager .bx-pager-link:hover:before,
.home-slider.bx-wrapper .bx-controls .bx-pager .bx-pager-link.active:before {
  content: '';
  background: #fff;
  height: 8px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 8px;
  border-radius: 8px;
}
.home-slider.bx-wrapper .bx-controls .bx-controls-direction {
  display: none;
}
.home-slider.bx-wrapper .bx-controls .bx-controls-direction .bx-prev {
  background: none;
  bottom: 140px;
  font-family: 'Glyphicons Halflings';
  height: 0;
  left: 20px;
  overflow: hidden;
  top: auto;
  padding: 45px 30px 0 0;
  text-indent: 0;
  text-decoration: none;
  width: 0;
}
.home-slider.bx-wrapper .bx-controls .bx-controls-direction .bx-prev:before {
  content: "\e079";
  color: #b4b4b4;
  font-size: 36px;
  left: 0;
  position: absolute;
  top: 0;
}
.home-slider.bx-wrapper .bx-controls .bx-controls-direction .bx-prev:hover:before {
  color: #f06a9d;
}
.home-slider.bx-wrapper .bx-controls .bx-controls-direction .bx-next {
  background: none;
  bottom: 140px;
  font-family: 'Glyphicons Halflings';
  height: 0;
  right: 20px;
  overflow: hidden;
  padding: 45px 30px 0 0;
  top: auto;
  text-indent: 0;
  text-decoration: none;
  width: 0;
}
.home-slider.bx-wrapper .bx-controls .bx-controls-direction .bx-next:before {
  content: "\e080";
  color: #b4b4b4;
  font-size: 36px;
  left: 0;
  position: absolute;
  top: 0;
}
.home-slider.bx-wrapper .bx-controls .bx-controls-direction .bx-next:hover:before {
  color: #f06a9d;
}
.home-slider.bx-wrapper .bx-caption {
  bottom: 50px;
  background: rgba(255, 255, 255, 0.65);
  color: #535353;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.3;
  margin-left: -470px;
  overflow: hidden;
  padding: 20px 8px;
  text-align: left;
  top: 95px;
  left: 50%;
  position: absolute;
  width: 380px;
}
.home-slider.bx-wrapper .bx-caption p:last-child {
  padding: 0 0 5px;
}
.home-slider.bx-wrapper .bx-caption h1,
.home-slider.bx-wrapper .bx-caption h2,
.home-slider.bx-wrapper .bx-caption h3,
.home-slider.bx-wrapper .bx-caption h4 {
  color: #535353;
  font-family: Georgia;
  padding-top: 0;
}
.home-slider.bx-wrapper .bx-caption span {
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: inline;
}
.home-slider.bx-wrapper .bx-caption .bx-info {
  padding: 15px  0 0;
}
.home-slider.bx-wrapper .bx-caption .bx-info .bx-info-col {
  display: inline-block;
  margin-right: 30px;
}
.home-slider.bx-wrapper .bx-caption .forbut {
  text-align: center;
}
.home-slider.bx-wrapper .bx-name {
  color: #535353;
  font-family: Georgia;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  padding: 0 0 15px;
}
.home-slider.bx-wrapper .bx-anons {
  max-height: 370px;
  overflow: hidden;
}
.home-slider.bx-wrapper .bx-img-link {
  border: 1px solid #c5c4c4;
  height: 200px;
  left: 90px;
  position: absolute;
  top: 60px;
  width: 200px;
  border-radius: 200px;
}
.home-slider.bx-wrapper .bx-img-link:before {
  content: '';
  border: 3px solid rgba(255, 255, 255, 0.6);
  height: 198px;
  left: 0;
  position: absolute;
  top: 0;
  width: 198px;
  border-radius: 198px;
}
.home-slider.bx-wrapper .bx-link {
  background: #f06a9d;
  border: 1px solid #ffa4c6;
  display: inline-block;
  margin: 15px auto 0;
  border-radius: 3px;
  padding: 6px 30px 7px;
  font-family: georgia;
  font-size: 15px;
  font-style: italic;
  color: #fff;
  text-decoration: none;
}
.home-slider.bx-wrapper .bx-link:hover {
  background: #679bdf;
  border-color: #8fbcf7;
}
.home-slider.bx-wrapper .company-logo {
  text-align: center;
  font-size: 16px;
  padding: 40px 0;
}
.home-slider.bx-wrapper .company-logo img {
  margin: 0 auto 10px;
}
.home-slider.bx-wrapper .company-name {
  font-weight: bold;
  margin: 0 0 10px;
  font-size: 14px;
}
/*//slider*/
/*блоки на главной*/
.home-title {
  color: #f06a9d;
  font-size: 24px;
  font-family: Georgia, 'Open Sans';
  line-height: 1;
  margin: 0 0 25px;
  padding: 0 0 5px;
  position: relative;
  text-align: center;
}
.home-title-small {
  color: #888;
  padding: 0 0 20px;
}
.home-service-row {
  padding: 45px 0 55px;
}
.home-news-col {
  border-left: 2px solid #f6f6f7;
  padding-left: 30px;
}
.primary-block {
  padding: 50px 0 50px;
}
.primary-block .home-title {
  text-align: left;
}
.primary-block .home-primary-item {
  font-family: 'Roboto';
  text-align: center;
  line-height: 1.2;
  display: inline-block;
  width: 50%;
  margin: 0 -1px -1px 0;
  border: 1px solid #d6d6d6;
  position: relative;
  vertical-align: top;
}
.primary-block .home-primary-item .home-primary-name {
  color: #000;
  font-size: 16px;
  padding: 10px 0;
}
.primary-block .full-content {
  display: none;
}
.primary-block .text {
  height: 120px;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}
.primary-block .home-primary-item:hover .full-content {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 301px;
  background: #f162a0;
  color: #fff;
  padding: 18px;
}
.primary-block .home-primary-item:hover .full-contentIn {
  padding: 7px;
  border: 1px solid #fff;
  display: table-cell;
  vertical-align: middle;
}
.primary-block .home-news-row {
  margin-top: -3px;
}
.home-objects {
  padding: 56px 0 80px;
}
.home-objects .home-gallery-row {
  margin: 0 -10px;
}
.gallery-item {
  padding: 1px 10px;
  position: relative;
  margin-bottom: 20px;
}
.gallery-item .gallery-image img {
  width: 100%;
  height: auto;
}
.gallery-item .gallery-anons .gallery-name {
  color: #f06a9d;
  display: block;
  font-size: 16px;
  line-height: 1.2;
  margin: 13px 0 4px;
  position: relative;
  padding-bottom: 0;
  text-decoration: none;
}
.gallery-item .gallery-anons .gallery-name:hover {
  text-decoration: underline;
}
.gallery-item .gallery-anons .gallery-link {
  display: none;
}
.gallery-item .gallery-anons:hover {
  opacity: 1;
}
.home-news {
  background: #fff;
  padding: 56px 0;
}
.home-news .home-news-item {
  margin-bottom: 20px;
}
.home-news .home-news-item img {
  margin: 0;
  width: 100%;
  height: auto;
}
.home-news .home-news-item .home-news-name {
  font-size: 18px;
  padding: 10px;
  line-height: 1.2;
}
.home-news .home-news-item .home-news-name a {
  color: #000;
  text-decoration: none;
}
.home-news .home-news-item .home-news-name a:hover {
  text-decoration: underline;
}
.home-news .home-news-item .home-news-image {
  position: relative;
}
.home-news .home-news-item .home-news-date {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 6px 10px;
  text-align: center;
  width: 160px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.home-news .home-news-item > a {
  color: #e67817;
  text-decoration: none;
}
.home-news .home-news-item > a:hover {
  text-decoration: underline;
}
.home-news .home-news-item p {
  padding: 0 10px 12px;
}
.home-news .row + .row .home-news-item {
  margin-top: 30px;
}
.home-content {
  background: #fafafa;
  padding: 45px 0;
  margin-bottom: -30px;
}
.home-content .primary-block {
  border-left: 1px solid #969696;
  float: right;
  margin-left: 35px;
  padding-left: 22px;
  width: 342px;
}
.home-content .primary-block .home-primary-item {
  color: #424242;
  display: inline-block;
  font-size: 16px;
  margin: 0 0 18px;
  padding: 5px 0 5px 57px;
  position: relative;
  width: 100%;
}
.home-content .primary-block .home-primary-item .home-primary-num {
  border: 2px solid #393b3d;
  float: left;
  font-family: Times New Roman;
  font-weight: bold;
  font-size: 30px;
  left: 0;
  line-height: 1;
  margin: -20px 10px 0;
  padding: 3px 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 40px;
  border-radius: 40px;
}
.home-content .content-block {
  overflow: hidden;
}
.home-reviews-block {
  padding: 45px 0 35px;
}
.home-reviews-block .title {
  font-family: Georgia;
  font-size: 24px;
}
.home-reviews-block .home-reviews-wrap {
  padding: 0 60px 25px;
}
.home-reviews-block .bx-wrapper .bx-viewport {
  box-shadow: none;
  left: auto;
  border: none;
  background: none;
}
.home-reviews-block .bx-wrapper .bx-viewport ul {
  list-style: none;
  padding: 0;
}
.home-reviews-block .bx-wrapper .bx-viewport ul li {
  border: 1px solid #dbdbdb;
  padding: 20px 20px 15px;
  font-size: 12px;
  line-height: 1.2;
  min-height: 170px;
}
.home-reviews-block .bx-wrapper .bx-viewport ul li img {
  float: left;
  border-radius: 93px;
  margin-right: 20px;
}
.home-reviews-block .bx-wrapper .bx-viewport ul li .reviews-content {
  overflow: hidden;
  font-size: 13px;
}
.home-reviews-block .bx-wrapper .bx-viewport ul li .reviews-content .reviews-author {
  color: #ea3d7e;
  font-size: 16px;
  font-family: Georgia;
  padding: 0 0 7px;
}
.home-reviews-block .bx-wrapper .bx-viewport ul li .reviews-content .reviews-author a {
  color: #ea3d7e;
  text-decoration: none;
}
.home-reviews-block .bx-wrapper .bx-viewport ul li .reviews-content .reviews-date {
  color: #bababa;
  font-size: 12px;
  padding: 3px 0 11px;
  font-family: 'Roboto';
}
.home-reviews-block .bx-wrapper .bx-viewport ul li .reviews-content .reviews-link {
  font-style: italic;
  font-family: Georgia;
  font-size: 12px;
}
.home-reviews-block .bx-controls-direction .bx-prev {
  background: none;
  font-family: 'Glyphicons Halflings';
  height: 0;
  left: -50px;
  margin-top: -25px;
  overflow: hidden;
  padding: 40px 30px 0 0;
  text-indent: 0;
  text-decoration: none;
  width: 0;
}
.home-reviews-block .bx-controls-direction .bx-prev:before {
  content: "\e079";
  color: #b4b4b4;
  font-size: 29px;
  left: 0;
  position: absolute;
  top: 0;
}
.home-reviews-block .bx-controls-direction .bx-prev:hover:before {
  color: #f06a9d;
}
.home-reviews-block .bx-controls-direction .bx-next {
  background: none;
  font-family: 'Glyphicons Halflings';
  height: 0;
  right: -50px;
  margin-top: -25px;
  overflow: hidden;
  padding: 40px 30px 0 0;
  text-indent: 0;
  text-decoration: none;
  width: 0;
}
.home-reviews-block .bx-controls-direction .bx-next:before {
  content: "\e080";
  color: #b4b4b4;
  font-size: 29px;
  left: 0;
  position: absolute;
  top: 0;
}
.home-reviews-block .bx-controls-direction .bx-next:hover:before {
  color: #f06a9d;
}
.home-products-row {
  padding: 50px 0;
  background: url("") repeat-y 50% 0;
}
.home-products-row .home-title {
  color: #fff;
}
.home-products-row .home-product-item {
  margin-bottom: 20px;
}
.home-products-row .home-product-content {
  background: rgba(255, 255, 255, 0.17);
  display: table;
  width: 100%;
  line-height: 1.2;
}
.home-products-row .home-product-content .home-product-image {
  display: table-cell;
  width: 130px;
}
.home-products-row .home-product-content .home-product-info {
  color: #fff;
  display: table-cell;
  font-family: 'Roboto';
  padding: 17px 20px;
  vertical-align: top;
}
.home-products-row .home-product-content .home-product-info .home-product-name {
  font-size: 16px;
  font-family: Georgia;
  padding: 0 0 11px;
}
.home-products-row .home-product-content .home-product-info .home-product-name a {
  color: #fff;
  text-decoration: none;
}
.home-products-row .home-product-content .home-product-info .home-product-name a:hover {
  text-decoration: underline;
}
.home-products-row .home-product-content .home-product-info .home-product-more {
  display: none;
}
.all-news {
  text-align: center;
}
.all-news a {
  background: #f06a9d;
  border: 1px solid #ffa4c6;
  color: #fff;
  display: inline-block;
  margin: 10px auto;
  font-family: Georgia;
  font-size: 15px;
  font-style: italic;
  padding: 8px 50px;
  text-decoration: none;
  border-radius: 5px;
}
.all-news a:hover {
  color: #fff;
  background: #679bdf;
  border-color: #8fbcf7;
}
.home-form {
  text-align: center;
}
.home-form .itexmodal-container {
  margin: 0 auto;
  max-width: 380px;
}
.home-news-item {
  margin: 0 0 15px;
  font-family: 'Roboto';
  line-height: 1.2;
}
.home-news-item .home-news-name {
  color: #1b1b1b;
  font-family: Georgia;
  font-size: 16px;
  padding: 0 0 10px;
  line-height: 1.2;
}
.home-news-item .home-news-name a {
  color: #000;
  text-decoration: none;
}
.home-news-item .home-news-name a:hover {
  text-decoration: underline;
}
.home-news-item .home-news-date {
  color: #959595;
  font-size: 12px;
  font-family: Georgia;
  padding: 0 0 5px;
}
.home-masters-row {
  background: url("") repeat-y 50% 0;
  padding: 50px 0;
}
.home-masters-row .home-title {
  color: #fff;
}
.home-masters-row .master-item {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-family: 'Roboto';
}
.home-masters-row .master-item img {
  border-radius: 135px;
  border: 1px solid #fff;
  margin: 10px auto;
}
.home-masters-row .master-item a {
  color: #fff;
  font-family: Georgia;
  font-size: 16px;
  text-decoration: none;
  margin: 0 0 5px;
}
.home-masters-row .master-item a:hover {
  text-decoration: underline;
}
.full-icon {
  margin: 0 auto 10px;
}
/*//блоки на главной*/
/*content*/
.content-wrapper {
  padding: 0 0 30px;
}
.breadcrumb {
  background: none;
  color: #f06a9d;
  font-size: 12px;
  margin: 20px 0;
  padding: 0;
}
.breadcrumb a {
  color: #555;
  text-decoration: none;
}
.breadcrumb a:hover {
  color: #f06a9d;
}
.breadcrumb .divider {
  display: none;
}
.breadcrumb > li + li::before {
  color: #f06a9d;
  padding: 0 10px 0 14px;
}
.title {
  color: #f06a9d;
  font-size: 24px;
  margin: 0 0 7px -1px;
  padding: 0 0 17px;
  position: relative;
  text-align: center;
}
p + .catalog-row,
p + .gallery-row {
  margin-top: 20px;
}
.news-item {
  margin-bottom: 50px;
}
.news-item .catalog-item-image,
.news-item .other-news-image {
  margin-right: 20px;
  padding-right: 0;
  width: auto;
}
.news-item .catalog-item-info,
.news-item .col-sm-9 {
  float: none;
  overflow: hidden;
  padding-left: 0;
  width: auto;
}
.news-item .catalog-item-info .catalog-item-name,
.news-item .col-sm-9 .catalog-item-name,
.news-item .catalog-item-info .other-news-name,
.news-item .col-sm-9 .other-news-name {
  font-size: 16px;
  font-family: Georgia;
  padding: 0 0 10px;
}
.news-item .catalog-item-info > a,
.news-item .col-sm-9 > a {
  color: #f06a9d;
  text-decoration: none;
}
.news-item .catalog-item-info > a:hover,
.news-item .col-sm-9 > a:hover {
  text-decoration: underline;
}
.news-item .catalog-item-info .news-item-date,
.news-item .col-sm-9 .news-item-date,
.news-item .catalog-item-info .other-news-date,
.news-item .col-sm-9 .other-news-date {
  color: #888;
  font-size: 12px;
  line-height: 1;
  padding: 0 0 11px;
}
.list-menu {
  list-style: none;
  margin: 5px 0 30px;
  padding: 0;
}
.list-menu li {
  margin: 0 0 2px;
}
.list-menu li a {
  background: #f06a9d;
  border-top: 1px solid #ffa4c6;
  color: #fff;
  display: block;
  line-height: 1.2;
  padding: 9px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}
.list-menu li ul {
  background: #959595;
  border-top: 1px solid #8fbcf7;
  display: none;
  list-style: none;
  padding: 10px;
  border-radius: 3px;
}
.list-menu li ul li {
  margin-bottom: -1px;
  border: none;
  line-height: 1.2;
  padding: 2px 0;
}
.list-menu li ul li a {
  background: none;
  border: none;
  color: #fff;
  display: block;
  font-size: 13px;
  padding: 2px 5px 2px 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}
.list-menu li ul li a:before {
  content: '-';
  position: absolute;
  top: 0;
  left: 0;
}
.list-menu li ul li a:hover,
.list-menu li ul li.active > a {
  background: none;
  border: none;
  color: #fff;
  text-decoration: underline;
}
.list-menu li ul li ul {
  border: none;
  padding: 5px 0 6px 10px;
}
.list-menu li.active > ul {
  display: block;
}
.list-menu a:hover,
.list-menu .active > a {
  background: #679bdf;
  border-color: #8fbcf7;
  color: #fff;
}
.news-page-date {
  color: #888;
  font-size: 12px;
  line-height: 1;
  padding: 0 0 14px;
}
.news-page-image {
  float: left;
  margin: 5px 20px 10px 0;
}
.other-news {
  border-top: 1px solid #d5d5d5;
  clear: both;
  margin-top: 20px;
  padding-top: 28px;
}
.other-news .other-news-header {
  font-size: 16px;
  margin: 0 0 17px;
  overflow: hidden;
  line-height: 1;
  padding: 0 0 21px;
  position: relative;
  font-size: 22px;
  margin-bottom: 30px;
  padding-bottom: 21px;
}
.other-news .other-news-header a {
  color: #333;
  text-decoration: none;
}
.other-news .other-news-header a:hover {
  color: #e67817;
}
.other-news .other-news-header:before {
  left: 0;
  margin: 0;
}
.gallery-row.gallery-item-row {
  margin-left: -10px;
  margin-right: -10px;
}
.gallery-row.gallery-item-row .gallery-item {
  margin: 0 0 20px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
}
.gallery-row.gallery-item-row .gallery-item .gallery-image img {
  width: 100%;
  height: auto;
}
.gallery-row.gallery-item-row .gallery-item .gallery-anons {
  background: #232323;
  background: rgba(35, 35, 35, 0.75);
  border: 1px solid #333;
  color: #f6f6f6;
  font-size: 12px;
  height: 100%;
  left: 10px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.gallery-row.gallery-item-row .gallery-item .gallery-anons .gallery-name {
  color: #f06a9d;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  margin: 13px 0;
  text-decoration: none;
}
.gallery-row.gallery-item-row .gallery-item .gallery-anons .gallery-name:hover {
  text-decoration: underline;
}
.gallery-row.gallery-item-row .gallery-item .gallery-anons .gallery-link,
.gallery-row.gallery-item-row .gallery-item .gallery-anons .gallery-photo-name .glyphicon-search {
  border: 2px solid #f06a9d;
  color: #f06a9d;
  display: block;
  font-size: 14px;
  height: 33px;
  margin: 10px auto 0;
  padding: 4px 0;
  text-align: center;
  text-decoration: none;
  width: 33px;
  border-radius: 33px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gallery-row.gallery-item-row .gallery-item .gallery-anons .gallery-name .glyphicon-search {
  padding: 8px 0;
}
.gallery-row.gallery-item-row .gallery-item .gallery-anons .gallery-link:hover,
.gallery-row.gallery-item-row .gallery-item .gallery-anons .gallery-link,
.gallery-row.gallery-item-row .gallery-item .gallery-anons .gallery-photo-name .glyphicon-search:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.gallery-row.gallery-item-row .gallery-item .gallery-photo-name .glyphicon-search {
  padding-top: 8px !important;
}
.gallery-row.gallery-item-row .gallery-item .gallery-anons:hover {
  opacity: 1;
}
.gallery-row.gallery-item-row .gallery-item .gallery-photo-name {
  color: #fff;
  text-decoration: none;
  display: block;
  padding-top: 20px;
}
.gallery-row.gallery-item-row .gallery-item .gallery-anons-anons {
  max-height: 52px;
  overflow: hidden;
}
.to-back-link {
  color: #f06a9d;
  font-size: 12px;
  text-decoration: none;
  clear: both;
}
.to-back-link:hover {
  color: #f06a9d;
  text-decoration: underline;
}
.to-back-news {
  display: table;
  margin: 26px 0 35px;
}
.style_list {
  list-style: none;
  padding: 10px 0 10px 15px;
}
.style_list li {
  padding: 0 0 5px 10px;
  position: relative;
}
.style_list li:before {
  content: '';
  background: #f06a9d;
  height: 3px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 3px;
}
.reviews-home {
  padding: 35px 0;
  position: relative;
  text-align: center;
}
.reviews-home .reviews-title {
  color: #fff;
  font-size: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.reviews-home .bx-wrapper .bx-viewport {
  background: none;
  border: none;
  left: auto;
  box-shadow: none;
}
.reviews-home ul {
  padding: 0;
}
.reviews-home .review-author {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
}
.reviews-home .review-image {
  background: #fff;
  display: inline-block;
  margin: 0 auto;
  padding: 5px;
  border-radius: 131px;
}
.reviews-home .review-image img {
  border-radius: 126px;
}
.reviews-home .review-date {
  color: #32b8ff;
  font-size: 18px;
  padding-top: 35px;
  padding-bottom: 20px;
  text-align: center;
}
.reviews-home .review-text {
  border: none;
  font-size: 14px;
  font-family: Helvetica;
  padding: 20px 30px;
  position: relative;
  display: inline-block;
}
.reviews-home .review-text:before {
  content: '';
  background: url("") no-repeat 0 0;
  width: 30px;
  height: 25px;
  position: absolute;
  top: 0;
  left: -15px;
}
.reviews-home .review-text:after {
  content: '';
  background: url("") no-repeat 0 -55px;
  width: 30px;
  height: 25px;
  position: absolute;
  bottom: 0;
  right: -15px;
}
.reviews-home .bx-wrapper .bx-prev {
  background: url("") no-repeat 0 0;
  height: 44px;
  left: 50%;
  margin: 0 0 0 -50px;
  top: auto;
  bottom: 0;
  width: 27px;
  left: auto;
  right: 60px;
  margin: 0;
}
.reviews-home .bx-wrapper .bx-next {
  background: url("") no-repeat -54px 0;
  height: 44px;
  left: 50%;
  margin: 0 0 0 25px;
  top: auto;
  bottom: 0;
  width: 27px;
  left: auto;
  right: 0;
  margin: 0;
}
.reviews-home .bx-wrapper .bx-prev:hover,
.reviews-home .bx-wrapper .bx-next:hover {
  opacity: 0.8;
}
.reviews-home:before {
  content: '';
  background: #3fc2ff;
  height: 162px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.item-review {
  border-bottom: 1px solid #e9e9e9;
  margin: 0 0 20px;
  padding: 0 0 15px;
  display: inline-block;
  width: 100%;
}
.item-review img {
  float: left;
  margin: 0 20px 10px 0;
  border-radius: 126px;
  border: 5px solid #fff;
}
.item-review .item-review-author,
.item-review .item-review-admin-name {
  color: #f06a9d;
  font-size: 16px;
  font-family: Georgia;
  padding: 0 0 7px;
}
.item-review .item-review-admin-name {
  color: #434343;
}
.item-review .item-review-date,
.item-review .item-review-admin-date {
  color: #bababa;
  font-size: 12px;
  padding: 0;
}
.item-review .item-review-admin {
  border-top: 1px solid #e9e9e9;
  margin-left: 40px;
  margin-top: 10px;
  padding-top: 15px;
  overflow: hidden;
}
p + .item-review {
  border-top: 1px solid #e9e9e9;
  margin-top: 20px;
  padding-top: 15px;
}
.reviews-form-header {
  border-top: 1px solid #e9e9e9;
  margin-top: 10px;
  text-align: center;
  padding: 50px 0 20px;
  font-size: 20px;
}
.item-review + .reviews-form-header {
  border-top: none;
}
.reviews-form.mess button {
  max-width: 220px;
}
.mini-gallery-wrapper {
  float: left;
  width: 350px;
  margin: 0 20px 0 0;
}
.mini-gallery-wrapper .mini-gallery-block {
  margin: 10px 0;
  position: relative;
}
.mini-gallery-wrapper .mini-gallery-block ul {
  list-style: none;
  padding: 0;
}
.mini-gallery-wrapper .mini-gallery-block ul li {
  float: left;
  margin: 0 5px;
  opacity: 1;
}
.mini-gallery-wrapper .mini-gallery-block ul li:hover,
.mini-gallery-wrapper .mini-gallery-block ul li.active {
  opacity: 0.8;
}
.mini-gallery-wrapper .mini-gallery-block #prev2 {
  background: none;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  left: 0;
  position: absolute;
  top: 14px;
  z-index: 400;
}
.mini-gallery-wrapper .mini-gallery-block #prev2:before {
  content: "\e091";
  border: 2px solid;
  color: #434343;
  font-family: 'Glyphicons Halflings';
  left: 0;
  padding: 7px 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
  border-radius: 40px;
}
.mini-gallery-wrapper .mini-gallery-block #prev2:hover:before {
  color: #f06a9d;
}
.mini-gallery-wrapper .mini-gallery-block #next2 {
  background: none;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  right: 0px;
  position: absolute;
  top: 14px;
  z-index: 400;
}
.mini-gallery-wrapper .mini-gallery-block #next2:before {
  content: "\e092";
  border: 2px solid;
  color: #434343;
  font-family: 'Glyphicons Halflings';
  left: 0;
  padding: 7px 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
  border-radius: 40px;
}
.mini-gallery-wrapper .mini-gallery-block #next2:hover:before {
  color: #f06a9d;
}
.catalog-item {
  line-height: 1.2;
  margin: 0 0;
  display: inline-block;
  width: 100%;
  padding: 0  0 20px;
}
.catalog-item .home-service-image,
.catalog-item .catalog-item-image {
  position: relative;
  z-index: 200;
  float: left;
  padding: 0;
  margin-right: 10px;
}
.catalog-item .home-service-image img,
.catalog-item .catalog-item-image img {
  width: 100%;
  height: auto;
}
.catalog-item .service-hover-link {
  color: #fff;
  height: 100%;
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}
.catalog-item .service-hover-link .link-oko {
  background: url("") no-repeat 50% 0;
  color: #fff;
  display: block;
  font-size: 18px;
  padding: 75px 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -55px 0 0 -47px;
}
.catalog-item .home-service-content,
.catalog-item .catalog-item-info {
  overflow: hidden;
  float: none;
  width: auto;
}
.catalog-item .home-service-content .home-service-name,
.catalog-item .catalog-item-info .home-service-name,
.catalog-item .home-service-content .catalog-item-name,
.catalog-item .catalog-item-info .catalog-item-name {
  font-family: Georgia;
  font-size: 16px;
  line-height: 1.2;
  margin-top: -4px;
  padding: 0 0 11px;
}
.catalog-item .home-service-content .home-service-name a,
.catalog-item .catalog-item-info .home-service-name a,
.catalog-item .home-service-content .catalog-item-name a,
.catalog-item .catalog-item-info .catalog-item-name a {
  text-decoration: none;
}
.catalog-item .home-service-content .home-service-name a:hover,
.catalog-item .catalog-item-info .home-service-name a:hover,
.catalog-item .home-service-content .catalog-item-name a:hover,
.catalog-item .catalog-item-info .catalog-item-name a:hover {
  text-decoration: underline;
}
.catalog-item .home-service-bottom {
  padding: 5px 0 0;
}
.catalog-item .home-service-bottom .time-limit {
  color: #a0a0a0;
  font-size: 12px;
  display: inline-block;
  padding: 0 20px;
  position: relative;
}
.catalog-item .home-service-bottom .time-limit:before {
  content: "\f073";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  color: #66a2be;
  font-size: 14px;
  top: -2px;
}
.catalog-item .home-service-bottom .serv-price {
  color: #a0a0a0;
  font-size: 12px;
  display: inline-block;
  padding: 0 20px;
  position: relative;
}
.catalog-item .home-service-bottom .serv-price:before {
  content: "\f290";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  color: #66a2be;
  font-size: 14px;
  top: -2px;
}
.catalog-item .home-service-bottom > a {
  font-style: italic;
  font-size: 12px;
  font-family: Georgia;
}
.news-item-info > a {
  font-style: italic;
  font-size: 12px;
  font-family: Georgia;
}
/*//content*/
/*fos*/
.mess label {
  display: block;
  font-weight: normal;
  font-family: 'Roboto', Arial;
  font-size: 16px;
}
.mess input {
  outline: none;
}
.mess input[type="text"],
.mess textarea {
  background: #fdfdfd;
  border: 1px solid #d6d6d6;
  font-family: 'Roboto', Arial;
  font-size: 14px;
  max-width: 100%;
  outline: none;
  padding: 9px 10px;
  width: 100%;
  box-shadow: none;
  border-radius: 3px;
}
.mess input[type="text"]:focus,
.mess textarea:focus {
  background: none;
  border: 1px solid #f06a9d;
}
.mess .error + input[type="text"],
.mess .error + textarea {
  background: none;
  border: 1px solid #e03c31;
}
.mess textarea {
  height: 115px;
}
.mess input[type="checkbox"],
.mess .mess .pcheck input[type="radio"] {
  float: left;
  margin: 0 5px 0 0;
}
.mess input[type="checkbox"]:not(checked),
.mess input[type="radio"]:not(checked) {
  visibility: hidden;
  display: none;
}
.mess input[type="checkbox"]:not(checked) + label,
.mess input[type="radio"]:not(checked) + label {
  cursor: pointer;
  display: block;
  position: relative;
  margin-left: 0;
  margin-top: 10px;
  padding-left: 25px;
}
.mess input[type="checkbox"]:not(checked) + label:after {
  content: "\00A0";
  cursor: pointer;
  width: 19px;
  height: 19px;
  display: block;
  background: url("") no-repeat 0 0;
  position: absolute;
  top: 1px;
  left: 0;
}
.mess input[type="checkbox"]:checked + label:after {
  background: url("") no-repeat 0 -82px;
}
.mess input[type="radio"]:not(checked) + label:after {
  content: "\00A0";
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: block;
  background: url("") no-repeat 0 0;
  position: absolute;
  top: -1px;
  left: 2px;
}
.mess input[type="radio"]:checked + label:after {
  background: url("") no-repeat 0 -84px;
}
.mess button {
  background: #f06a9d;
  border: 1px solid #ffa4c6;
  color: #fff;
  font-size: 15px;
  height: 40px;
  outline: none;
  padding: 1px 0 5px;
  width: 180px;
  font-style: italic;
  border-radius: 0;
  border-radius: 5px;
  font-family: Georgia;
}
.mess button:hover {
  background: #679bdf;
  border-color: #8fbcf7;
  color: #fff;
  outline: none;
}
.mess button:focus {
  outline: none;
  color: #fff;
}
.mess .row {
  margin-bottom: 13px;
}
.mess .button-row {
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: center;
}
.mess p + .row {
  margin-top: 15px;
}
.mess .help-block {
  font-size: 11px;
  font-style: italic;
  margin-bottom: 0;
  padding: 0;
}
.mess .help-block.error {
  color: #e03c31;
  font-size: 12px;
  line-height: 1;
}
.mess .QapTcha .bgSlider {
  padding: 0;
  margin-right: 10px;
}
.mess .QapTcha .dropSuccess {
  padding-top: 8px;
}
.mess .kod {
  margin: 20px 0;
}
.itexmodal-container .mess .kod.QapTcha {
  margin: 0;
}
.itexmodal-container .mess .QapTcha .bgSlider {
  float: none;
  padding: 0;
  margin-right: 0;
  margin-top: 4px;
}
.itexmodal-container .mess .QapTcha .TxtStatus {
  display: block;
  margin-top: 5px;
}
/*//fos*/
/*modal*/
.itexmodal-container {
  background: #fff;
  font-family: Arial;
  padding: 20px 40px 30px !important;
  position: relative;
  text-align: left;
  width: 380px !important;
  border-radius: 0 !important;
  box-shadow: none;
}
.ui-dialog.itexmodal-container .itexmodal-content {
  overflow: visible !important;
}
.ui-dialog .ui-dialog-titlebar-buttonpane a {
  opacity: 1 !important;
}
.itexmodal-container .itexmodal-padding-content,
.ui-dialog.itexmodal-container .itexmodal-padding-content {
  padding: 0;
}
.itexmodal-container .itexmodal-title {
  background: none;
  color: #f06a9d;
  font-size: 24px;
  font-family: Georgia;
  font-weight: normal;
  margin: 0 0 3px;
  padding: 10px 0 12px !important;
  position: relative;
  text-align: center;
}
.itexmodal-container .itexmodal-title .ui-dialog-titlebar-buttonpane {
  display: none;
}
.itexmodal-container .itexmodal-show-title .ui-dialog-titlebar-close {
  right: -20px !important;
  top: 0 !important;
}
.itexmodal-container .itexmodal-title:before {
  left: 0;
  margin: 0;
}
.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.75);
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 999;
}
.ui-dialog-titlebar-close {
  background: url("") no-repeat 0 0 !important;
  height: 15px !important;
  opacity: 0.8;
  position: absolute;
  right: 20px !important;
  top: 20px !important;
  width: 16px !important;
}
.ui-dialog-titlebar-close span {
  display: none;
}
.ui-dialog-titlebar-close:hover {
  opacity: 1;
}
.fancybox-wrap {
  margin-top: 10px;
}
.fancybox-skin {
  background: none !important;
}
.fancybox-overlay {
  background: rgba(0, 0, 0, 0.75) !important;
}
.fancybox-close {
  width: 16px;
  height: 15px;
  background: url("") no-repeat 0 0;
  left: -20px;
  opacity: 0.8;
  right: -20px;
  left: auto;
}
.fancybox-close:hover {
  opacity: 1;
}
/*//modal*/
/*footer*/
.footer-wrapper {
  clear: both;
  height: 160px;
}
footer {
  background: #959595;
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  margin-top: -160px;
  min-height: 160px;
}
footer .container {
  max-width: 940px;
}
footer #up {
  background: #f06a9d url("bg-up.png") no-repeat 50% 50%;
  bottom: 39px;
  color: #000;
  cursor: pointer;
  display: block;
  height: 41px;
  margin-left: 960px;
  padding: 10px 0 0;
  position: fixed;
  text-align: center;
  text-decoration: none;
  width: 41px;
  z-index: 300;
  border-radius: 3px;
}
footer #up:hover {
  opacity: 0.9;
}
footer a,
footer .btn {
  color: #fff;
  font-size: 14px;
}
footer a:hover,
footer .btn:hover,
footer a:focus,
footer .btn:focus {
  color: #fff;
  text-decoration: none;
}
footer .glyphicon {
  margin-right: 9px;
}
footer .footer-org {
  padding-bottom: 16px;
  padding-top: 16px;
  text-align: left;
}
footer .developer {
  text-align: left;
  margin-top: 10px;
}
footer .developer a {
  color: #fff;
}
footer .developer img {
  margin-right: 10px;
}
footer .footer-text strong {
  font-size: 24px;
  font-weight: normal;
}
footer .footer-bottom:before {
  content: '';
  background: #222;
  height: 1px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 100%;
}
footer .counters img {
  margin: 0 5px 5px 0;
}
footer .call-p {
  padding-top: 10px;
}
footer .footer-menu {
  text-align: left;
  padding: 0 0 10px;
  text-align: center;
}
footer .footer-menu ul {
  list-style: none;
  padding: 0;
}
footer .footer-menu ul li {
  display: inline-block;
  margin: 0 15px;
  font-size: 16px;
}
footer .footer-menu ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
footer .footer-menu ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .footer-menu ul .active a,
footer .footer-menu ul .active a:hover {
  background: none;
  color: #fff;
  text-decoration: underline;
}
footer .footer-system-row {
  border-top: 1px solid #fff;
  margin-top: 20px;
  padding-top: 20px;
}
footer .footer-btn {
  text-align: right;
}
footer .footer-btn a {
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  border-radius: 0;
  vertical-align: top;
}
footer .footer-btn a:before {
  content: '';
  border-bottom: 1px dashed;
  bottom: 2px;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
footer .footer-btn a:hover:before {
  border: none;
}
footer .footer-btn a:hover {
  text-decoration: none;
}
/*//footer*/
/*DOP*/
hr {
  background: none;
  border: none;
  border-top: 1px solid #ccc;
  height: 1px;
  margin: 15px 0;
  padding: 0;
}
blockquote {
  background-color: #fff;
  border: none;
  border-left: 2px solid #f06a9d;
  color: #787878;
  font-size: 13px;
  margin: 0 0 10px;
  padding: 20px 30px;
}
.pintable,
.pintable0 {
  border-collapse: collapse;
  margin-bottom: 10px;
}
.pintable th,
.pintable thead .odd td,
.pintable thead td {
  background: #f06a9d;
  border: 1px solid #cecece;
  color: #fff;
  font-weight: normal;
  padding: 5px;
  text-align: left;
}
.pintable td {
  border: 1px solid #cecece;
  padding: 5px;
}
.pintable tr:nth-child(odd) td {
  background: #fff;
}
.pintable0 th,
.pintable0 td {
  padding: 5px;
}
.pintable th p,
.pintable0 th p,
.pintable td p,
.pintable0 td p {
  padding: 0;
}
.navN {
  padding: 15px 0;
  text-align: center;
}
.navN ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navN li {
  float: left;
  margin: 0;
}
.navN a {
  background: none;
  border: none;
  color: #434343;
  display: block;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  min-width: 30px;
}
.navN a:hover {
  color: #f06a9d;
}
.navN .active a {
  background: #f06a9d;
  color: #fff;
  border-radius: 4px;
}
.navN .hidden,
.navN .disabled {
  display: none;
}
.navN .previous {
  margin-right: 4px;
}
.navN .next {
  margin-left: 0;
}
.navN + p {
  margin-top: 35px;
}
.less-admin {
  display: none;
}
/*//DOP*/
/*адаптив*/
@media screen and (min-width: 200px) and (max-width: 1100px) {
  #up {
    margin: 0;
    right: 20px;
  }
}
@media screen and (min-width: 220px) and (max-width: 960px) {
  .home-products-row .home-product-content .home-product-image {
    display: block;
    width: 100%;
  }
  .home-products-row .home-product-content .home-product-image img {
    width: 100%;
    height: auto;
  }
  .home-products-row .home-product-content .home-product-info {
    display: block;
  }
  .home-primary-wrap {
    margin-bottom: 20px;
  }
  .home-product-item {
    width: 33%;
  }
  .home-slider.bx-wrapper .bx-caption {
    left: 20px;
    margin: 0;
  }
  .site-menu .container {
    padding: 0;
    text-align: center;
  }
  .site-menu nav ul li a {
    padding: 10px;
  }
  .catalog-item .home-service-image,
  .catalog-item .catalog-item-image {
    margin-right: 10px;
  }
  .gallery-item {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .header-left-side {
    width: 100%;
  }
  .header-left-side img {
    margin-top: 10px;
  }
  .header-left-side + .col-sm-3 {
    width: 50%;
  }
}
@media screen and (min-width: 220px) and (max-width: 750px) {
  .home-product-item {
    width: 100%;
  }
  .home-products-row .home-product-content .home-product-image {
    display: table-cell;
    width: 130px;
  }
  .home-products-row .home-product-content .home-product-info {
    display: table-cell;
  }
  .home-slider {
    display: none;
  }
  .itexmodal-container {
    padding: 10px !Important;
    width: 100% !important;
  }
  .home-reviews-block .home-reviews-wrap {
    padding: 0 45px 20px;
  }
  .home-service-item .home-service-image,
  .catalog-item .home-service-image,
  .home-service-item .catalog-item-image,
  .catalog-item .catalog-item-image {
    padding: 0;
  }
  .home-reviews-block .bx-wrapper .bx-viewport ul li {
    display: none;
  }
  .home-reviews-block .bx-wrapper .bx-viewport ul li:last-child {
    display: block;
  }
  .home-reviews-block .home-reviews-wrap {
    padding: 0;
  }
  .reviews-slider {
    max-width: 100%;
  }
  .home-reviews-block .bx-wrapper .bx-viewport ul li {
    width: 100% !important;
  }
  .home-reviews-block .bx-controls {
    display: none;
  }
  .home-service-item .home-service-image img,
  .catalog-item .home-service-image img,
  .home-service-item .catalog-item-image img,
  .catalog-item .catalog-item-image img {
    max-width: 140px;
  }
  .home-service-item .home-service-content,
  .catalog-item .home-service-content,
  .home-service-item .catalog-item-info,
  .catalog-item .catalog-item-info {
    padding: 0;
  }
  .company-logo {
    padding-top: 5px;
    text-align: center;
  }
  .logo-slogan {
    text-align: center;
  }
  .header-right-side {
    text-align: center;
  }
  .adaptive-nav {
    padding: 10px 0;
  }
  .adaptive-button {
    font-size: 18px;
    text-decoration: none;
  }
  .adaptive-nav ul {
    margin-top: 10px;
  }
  .site-menu nav ul .active a,
  .site-menu nav ul .active a:hover .site-menu nav ul a:hover {
    background: none;
    color: #000;
  }
  .primary-block .col-sm-8 {
    margin-bottom: 40px;
  }
  .primary-block .home-title {
    text-align: center;
  }
  .home-masters-row .master-item {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  footer .footer-org,
  footer .footer-btn,
  footer .developer {
    text-align: center;
  }
  .itexmodal-container {
    width: 90% !Important;
    padding: 15px !important;
  }
  .news-item .other-news-image,
  .other-news .news-item .col-sm-9 {
    padding: 0 15px 5px;
  }
  .master-content {
    margin: 0 auto;
    max-width: 270px;
  }
  .header-left-side + .col-sm-3 {
    width: 100%;
  }
  .home-reviews-block .bx-wrapper .bx-viewport ul li {
    min-height: 10px;
  }
}
@media screen and (min-width: 220px) and (max-width: 479px) {
  .primary-block .home-primary-item {
    width: 100%;
  }
  .item-review img {
    display: none;
  }
  .home-reviews-block .all-news {
    margin-top: -20px;
  }
  .catalog-item .home-service-image,
  .catalog-item .catalog-item-image {
    float: none;
    margin: 0 auto 15px;
    width: 100%;
  }
  .news-item .other-news-image,
  .other-news .news-item .col-sm-9 {
    padding: 0 15px 5px;
  }
  .site-menu nav ul li {
    display: block;
    text-align: left;
  }
  .site-menu nav ul li a {
    text-align: left;
  }
  .primary-block .home-primary-item {
    border: none;
  }
  .item-review .item-review-admin {
    margin-left: 10px;
  }
  .itexmodal-container .itexmodal-show-title .ui-dialog-titlebar-close {
    right: 0 !important;
  }
  .header-right-side a {
    margin: 0 10px;
  }
  .primary-block .text {
    height: auto;
  }
  .reviews-form-header {
    padding-top: 10px;
  }
  .inpbl {
    margin-bottom: 8px;
  }
}
/*//адаптив*/
@media screen and (min-width: 220px) and (max-width: 640px) {
	  .fancybox-inner{
		width: 100% !important;
		height: 100% !important;
	  }
	  .fancybox-wrap {
		width: 85% !important;
	  }
  }
